/*--------------------------Topical page*/
/*-----logo*/
#center-about{
    
    width:33%;
    margin: 0 auto;
   
}
#circle-container {
    width: 150px;
    height:150px;
    padding: 15px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    float: left;

}
#circle-cover-bg {
    background: url('../images/thrivelogo.png') no-repeat center center;
    height: 100%;
    border-radius: 50%;
    

}