/*--------------------------Topical page*/
/*-----logo*/
/*
.logo {
    width: 25%;
    
}


#center-about{
    
    width:33%;
    margin: 0 auto;
}
*/
#circle-container {
    width: 150px;
    height:150px;
    padding: 15px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    float: left;
    
   

}
#circle-cover-bg {
    background: url('../images/thrivelogo.png') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/*Menu header*/
.menu-header {
    float: none;
    display: inline-flexbox;
    background-color:rgb(0,75,30);
    padding-top: 66px;
    margin: auto;
}
.menu-header a {
    font-size: large;
    display: inline-table;
    letter-spacing: 1px;
    padding:14px 21px;
    text-align: center;
    text-decoration: none;
    color:white;
}
.located{
    width: 600px;
    

}

 /* For kantine */
.flex-container {
    display: flex;
    background-color: rgb(0, 75, 30);
    padding: 20px;
    width: 100%;
}

.flex-container > div {
    flex: 1;
    margin: 10px;
}

.line1-right {
    width: 85%;
    height: auto;
}

/* Legg til stiler for bilder innenfor <picture> -elementet */
picture {
    display: flex;
    width: 100%;
    height: auto; /* Fyller høyden av <picture> container */
    margin: 10px;
}

picture img {
    max-width: 60%; /* Sett maks bredde til 100% av containeren */
    height: auto;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}

/* Hover-effekt for bilder */
picture img:hover,
.line1-right:hover {
    transform: scale(1.1);
}
