

/*--------------------------Topical page*/
/*-----logo*/
/*
.logo {
    width: 25%;
    
}


#center-about{
    
    width:33%;
    margin: 0 auto;
}
*/
#circle-container {
    width: 150px;
    height:150px;
    margin: 0 auto;
    padding: 15px;
    border-style: solid;
    border-color:rgb(0, 75, 30);
    border-width: 3px;
    border-radius: 50%;
    margin: 0 auto;
    float: right

}
#logo-cover-bg {
    background: url('../images/thrivelogo.png') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/*Menu header*/

.menu-header {
    float: none;
    display: inline-flexbox;
    background-color:rgb(0, 75, 30);
    padding-top: 66px;
    margin: auto;
    width: 100%;
}
.menu-header a {
    font-size: large;
    display: inline-table;
    letter-spacing: 1px;
    padding:14px 21px;
    text-align: center;
    text-decoration: none;
    color:white;
}
/*homepage*/
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    padding: 20px;
    width: 80%;
    height: auto;
    background-color: rgb(0,75,30);
    margin: 0 auto;
    margin-top: 35px;
    position: relative;
}

.flexbox > div {
    width: auto;
    max-width: 80%;
    height: relative;
    justify-content: center;
    margin: 10px;
    padding: 14px;
    font-size: 20px;
      
    
}

.div1{
    display: flex;
    height: 200px;
    width: 100%;
    position: left;
}
.div2{
    background-color: #f1f1f1;
    width: 100%;
    height: relative;
    width: auto;
}

article{
    margin: 100px 140px;   

}
.located {
    width: 600px;
    

}

 /* For kantine */
.text-section {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-box {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
    flex: 0 0 45%; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.line1-right {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.image-text {
    text-align: center;
    margin-top: 10px;
}

/* ... Existing styles ... */
